<div class="sidebar" [ngClass]="{'dark-theme': isDarkTheme, 'light-theme': !isDarkTheme}">
  <!-- Header with company logo -->
  <div class="header">
    <div class="company-logo">
      <div class="logo-icon">†</div>
      <span class="company-name">{{ companyName }}</span>
    </div>
    <div class="admin-badge">ADMIN</div>
  </div>

  <!-- Navigation menu -->
  <nav class="navigation">
    <ul class="menu-list">
      <li *ngFor="let item of menuItems; let i = index" [routerLink]="item.route" class="menu-item" [ngClass]="{'active': item.active} "
        (click)="selectMenuItem(i)">
        <div class="menu-item-conatiner"  [ngClass]="{'active': item.active}">
          <div class="menu-icon" [style.--icon-url]="'url(' + item.icon + ')'" [style.--icon-color]="isDarkTheme ? 'white' : 'black'"></div>
          <span class="menu-label">{{ item.label }}</span>
        </div>
      </li>
    </ul>
  </nav>

  <!-- Footer with theme toggle -->
  <div class="footer">
    <div class="theme-toggle">
      <div class="toggle-option" (click)="toggleTheme(false)" [ngClass]="{'selected': !isDarkTheme}">
        <div class="menu-icon"  [ngStyle]="{'--icon-url': 'url(assets/icons/sun.svg)', '--icon-color': !isDarkTheme ? '#3DD5C8' : '#EEF2FFCC'}"></div>
        <span class="toggle-label" [ngStyle]="{'color': !isDarkTheme ? '#3DD5C8' : '#EEF2FFCC'}">Light</span>
      </div>
      <div class="toggle-option" (click)="toggleTheme(true)" [ngClass]="{'selected': isDarkTheme}">
        <div class="menu-icon" [style.--icon-url]="'url(' + 'assets/icons/moon.svg' + ')'" [style.--icon-color]="isDarkTheme ? '#3DD5C8' : 'black'"></div>
        <span class="toggle-label" [ngStyle]="{'color': isDarkTheme ? '#3DD5C8' : 'black'}">Dark</span>
      </div>
    </div>
  </div>
</div>
